@*@model IEnumerable<Mvc2_student2.Models.tb2_student>*@
@model IEnumerable<Mvc2_student2.Models.StudentViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @*@Html.ActionLink("Add new", "Create", new { @class = "btn pull-right", @role = "button" })*@
    <button type="button" class="btn btn-success pull-right float-right" onclick="location.href='@Url.Action("Create", "student")'">Add New Student</button>
</p>
<br /><br />

<div>
    <table id="tableId" class="table table-hover">
        <thead>
            <tr>
                <th style="display: none">
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Class
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="display: none">
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>    
                <td>                   
                    @foreach (var subItem in item.UserSubjects)
                     {
                        @Html.DisplayFor(modelItem => subItem.SubjectName)
                     }
                </td> 
                <td>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "student", new { id = item.StudentId })'">Edit</button>
                    @*<input type="button" value="Delete" onclick="return confirm('Are you sure you want to delete student: @item.getStudent.student_name')" class="btn delete btn-danger delete-prompt" />*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { onclick = "return confirm('Are you sure you wish to delete this Student?')", @class = "btn btn-danger " })
                </td>
            </tr>
            }
        </tbody>
    </table>
       
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

<link href="~/Content/alertifyjs/alertify.rtl.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
<script src="~/Scripts/alertify.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tableId').DataTable(
            {
                "order": [0, "desc"]
            });
    });
</script>

<script>

    $(document).ready(function () {

        $(function () {
            var successmessage = '@TempData["SuccessMessage"]'
            if (successmessage != '') {
                alertify.success(successmessage);
            }
        });
    });

     @*function Delete(id) {
         alertify.confirm('Student data', 'Are You Sure You Want To Delete this Record?', function () {
             window.location.href = '@Url.Action("Delete","student")/' + id;
         }, null);
     }*@
</script>













